.element__remove {
	position: absolute;
	top: 20px;
	right: 20px;
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	transition: all 0.1s linear;
}

.element__remove:hover {
	opacity: 0.6;
	transition: all 0.1s linear;
}