.element__like {
	width: 25px;
	height: 25px;
	background: url(../../../image/element-like.svg) top/22px 19px no-repeat #fff;
	border: none;
	cursor: pointer;
	transition: all 0.1s linear;
	padding: 0;
}

.element__like:hover {
	opacity: 0.6;
	transition: all 0.1s linear;
	transform: scale(1.1);
}