.profile__info {
	flex-grow: 1;
	display: grid;
	grid-template: max-content max-content / max-content max-content;
	align-items: center;
}

@media (max-width: 400px) {
	.profile__info {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}