.form__close::before {
	content: '';
	width: 35px;
	height: 3px;
	background-color: #fff;
	position: absolute;
	left: 101%;
	bottom: 104%;
	transform: rotate(45deg);
}

.form__close::after {
	content: '';
	width: 35px;
	height: 3px;
	background-color: #fff;
	position: absolute;
	left: 101%;
	bottom: 104%;
	transform: rotate(-45deg);
}

@media (max-width: 620px) {
	.form__close::before {
		content: '';
		width: 25px;
		height: 2px;
		background-color: #fff;
		position: absolute;
		left: 92%;
		bottom: 105%;
		transform: rotate(45deg);
	}

	.form__close::after {
		content: '';
		width: 25px;
		height: 2px;
		background-color: #fff;
		position: absolute;
		left: 92%;
		bottom: 105%;
		transform: rotate(-45deg);
	}
}

.form__close:hover {
	opacity: 0.7;
}