.form__close {
	padding: 0;
	border: none;
	background-color: #fff;
	cursor: pointer;
}

.form__close::before {
	content: '';
	width: 41px;
	height: 4px;
	background-color: #fff;
	position: absolute;
	left: 101%;
	bottom: 106%;
	transform: rotate(45deg);
}

.form__close::after {
	content: '';
	width: 41px;
	height: 4px;
	background-color: #fff;
	position: absolute;
	left: 101%;
	bottom: 106%;
	transform: rotate(-45deg);
}

@media (max-width: 620px) {
	.form__close::before {
		content: '';
		width: 25px;
		height: 3px;
		background-color: #fff;
		position: absolute;
		left: 92%;
		bottom: 107%;
		transform: rotate(45deg);
	}

	.form__close::after {
		content: '';
		width: 25px;
		height: 3px;
		background-color: #fff;
		position: absolute;
		left: 92%;
		bottom: 107%;
		transform: rotate(-45deg);
	}
}

.form__close:hover {
	opacity: 0.6;
}