.profile__edit-name-button {
	background-color: rgba(0, 0, 0, .9);
	border: 1px solid #fff;
	width: 24px;
	height: 24px;
	padding: 0;
	box-sizing: border-box;
}

@media (max-width: 620px) {
	.profile__edit-name-button {
		width: 18px;
		height: 18px;
	}
}

.profile__edit-name-button:hover {
	opacity: 0.6;
}